body, html{
    background-color: aquamarine;
    height: 100%;
}
body{
    grid-template-rows: 50px 50px 1fr;
    display: grid;
}

.header{
    font-size: 40px;
    display: grid;
    text-align: center;
    align-items: end;
    grid-row-start: 1;
}

.player{
    margin-top: 80px;
    display: grid;
    grid-row-start: 2;
    font-size: 30px;
    color: purple;
    align-items: end;
    justify-items: center;
}

.board{
    display: grid;
    height: 300px;
    width: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  repeat(3, 1fr);
    background-color: wheat;
    font-size: 50px;
    text-align: center;
    grid-column-start: 2;
}
.container{
    display: grid;
    justify-items: center;
    align-items: center;
    justify-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-start: 3;
}
.cell{
    border: solid 1px black;
    align-items: center;
    justify-content: center;
    display: grid;
}
.cell:hover{
    cursor: pointer;
    background-color: rgba(143, 160, 153, 0.534);
}
.play-again-button {
    height: 30px;
    width: 70px;
    background-color: rgb(119, 166, 236);
    color: black;
    border-radius: 6px;
    border: black 1px solid;
    justify-self: center;
    align-self: center;
    position: absolute;
    margin-top: 500px;
  }
  .play-again-button:hover{
    background-color: rgb(168, 101, 223);
    cursor: pointer;
  }